<!DOCTYPE html>
<html ng-app="myapp" ng-controller="MainController">
<head>
    <meta charset="UTF-8">
    <title ng-bind="getFilename()">WebSequenceDiagrams - Draw sequence diagrams online in seconds</title>
    <link rel="stylesheet/less" type="text/css" href="styles4.less" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <style>
    .splashtitle {
        animation-name: splash;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
    @keyframes splash {
        from { 
            -webkit-transform: scale(0.1, 0.1) rotate(-30deg); 
            -moz-transform: scale(0.1, 0.1) rotate(-30deg); 
            -ms-transform: scale(0.1, 0.1) rotate(-30deg);             
        }
        to { 
            -webkit-transform: scale(1.0, 1.0); 
            -moz-transform: scale(1.0, 1.0);             
            -ms-transform: scale(1.0, 1.0);                         
        }
    }
    </style>
</head>
<body class=app>
    <div id="splash"
    style="background:#666;position:absolute;left:0;right:0;bottom:0;top:0;z-index:10000">
        <div class=splashtitle
            style="position:absolute;top:50%;left:50%;margin-left:-241px;margin-top:-100px;text-align:center;color:white">
            Starting<br><br>
            <img src="banner2.png"><br>
            <img src="ajax-666.gif" id=splash-spinner>
            <div id="problem" style="display:none;font-size:large">
                Problem with Internet Connection
                <br><br>
                <input type="button" onclick="window.location.reload()"
                    value="Try again" style="font-size: large">
            </div>
        </div>
    </div>

    <div class="header header-image">
        <div ng-show="!showFileBrowser" class="header-buttons">
            <div class="upgrade" 
                ng-show="!subscribed() &amp;&amp; model.user.userid"
                ng-click="buyPage()"
                title="Get premium features">
                Upgrade
            </div>

            <div class="google-sign-in" id="google-signin"
                ng-show="model.user.userid==0 &amp;&amp; model.gold">
                Sign in with Google
            </div>

            <div class=button ng-show="!model.user.userid &amp;&amp; !HIDE_USER_ACCOUNTS" ng-click="showPanel('signinPanel')">
                <img src="icon-user.png"><br>
                Account
            </div>

            <div class=button ng-click="showPanel('stylePanel')">
                <img src="icon-styles.png"><br>
                Styles
            </div>

            <div class=button ng-show="model.zoomed &amp;&amp; model.allowZoom" ng-click="model.zoomed=false">
                <img src="icon-shrink.png"><br>
                Zoom out
            </div>

            <div class=button ng-show="!model.zoomed &amp;&amp; model.allowZoom" ng-click="model.zoomed=true">
                <img src="icon-enlarge.png"><br>
                Zoom in
            </div>

            <div class=button ng-click="showPanel('sharePanel')">
                <img src="icon-share.png"><br>
                Share
            </div>

            <div class=button ng-show="model.user.userid" ng-click="showPanel('changeAccountPanel')">
                <img src="icon-user.png"><br>
                Account
            </div>

            <div class=button ng-show="model.user.userid" ng-click="showFileBrowser=true">
                <img src="icon-myfiles.png"><br>
                My files
            </div>

            <div class=button ng-click="showPanel('menuPanel')">
                <img src="icon-more.png"><br>
                More
            </div>


        </div>
        <div ng-show="showFileBrowser" class="header-buttons">
            <div class=button ng-click="showFileBrowser=false">
                <img src="icon-back.png"><br>
                Back to Editing
            </div>
        </div>
    </div>

    <div class="body" ng-show="!showFileBrowser">
        <div id=templateDiv ondragstart="return false;">
            <div class=image><img src='t-signal.png' ng-click="onSignal('signal')"></div>
            <div class=image><img src='t-dotted.png' ng-click="onSignal('dotted')"></div>
            <div class=image><img src='t-activate.png' ng-click="onSignal('activate')"></div>
            <div class=image><img src='t-self.png' ng-click="onSignal('self')"></div>
            <div class=image><img src='t-create.png' ng-click="onSignal('create')"></div>
            <div class=image><img src='t-alt.png' ng-click="onSignal('alt')"></div>
            <div class=image><img src='t-opt.png' ng-click="onSignal('opt')"></div>
            <div class=image><img src='t-loop.png' ng-click="onSignal('loop')"></div>
            <div class=image><img src='t-notes.png' ng-click="onSignal('notes')"></div>
            <div class=image>
                <img src='t-offpage.png' ng-click="onSignal('offpage')">
                <div class="premium" ng-show="!subscribed()">PREMIUM</div>
            </div>
            <div class=image>
                <img src='t-ref.png' ng-click="onSignal('ref')">
                <div class="premium" ng-show="!subscribed()">PREMIUM</div>
            </div>
            <div class=image>
                <img src='t-text.png' ng-click="onSignal('text')">
                <div class="premium" ng-show="!subscribed()">PREMIUM</div>
            </div>
            <div class=image>
                <img src='t-state.png' ng-click="onSignal('state')">
                <div class="premium" ng-show="!subscribed()">PREMIUM</div>
            </div>
            <div class=image>
                <img src='t-parallel.png' ng-click="onSignal('parallel')">
                <div class="premium" ng-show="!subscribed()">PREMIUM</div>
            </div>
            <div class=image>
                <img src='t-footer.png' ng-click="onSignal('footer')">
                <div class="premium" ng-show="!subscribed()">PREMIUM</div>
            </div>
        </div>

        <div id="text-pane">
            <div id="conflictbar" ng-show="model.conflict.conflict">
                Your file was not saved because you or someone else updated the file on the server. Please inspect the merged version and save again.<br>
                <br>
                Viewing:
                <select ng-model="showDiffs">
                    <option value="none">Automatically Merged</option>
                    <option value="diffs">Differences</option>
                    <option value="yours">Your version</option>
                    <option value="theirs">Their version</option>
                </select>
            </div>
            <div id="revisionbar" ng-show="showRevisions &amp;&amp; !model.conflict.conflict">
                Revision history <div class="premium" ng-show="!subscribed()">PREMIUM</div><br>
                <select ng-model="revision">
                    <option value="-1">Current</option>
                    <option ng-repeat="r in model.file.revisions"
                        value="{{r.index}}">{{r.date / 1000 | mydatetime}}</option>
                    <option value="-1" ng-show="!subscribed() && model.file.revisions.length > 2">Upgrade for more...</option>
                </select><br>
                <div class=whitebutton ng-show="model.diagram.text == model.file.originalText" ng-click="save()" title="Ctrl+S">Saved</div>
                <div class=whitebutton ng-show="model.diagram.text != model.file.originalText" ng-click="save()" title="Ctrl+S">Not saved</div>
            </div>
            <div id="diffs" ng-show="showDiffs == 'diffs'"></div>
            <div ace id="text" ng-model="model.diagram.text"
                ng-show="showDiffs != 'diffs'"
                ></div>
            <div id="errors" 
                ng-show="model.diagram.errors.length &amp;&amp; showDiffs != 'diffs'">
                <div ng-repeat="error in model.diagram.errors" 
                    class="line-error" ng-click="clickError(error)">
                    {{error}}
                </div>
            </div>
        </div>
        <div id="image-view">
            <div class="shrink-warning" ng-show="!noshrinkwarning &amp;&amp; model.shrunk">
                Your diagram is too wide for the free version. <a ng-click="buyPage()" href="javascript:void(0)">Subscribe now</a> to get access to full-sized diagrams and premium features. <a href="javascript:void(0)" ng-click="noshrinkwarning=1">Hide this</a>
            </div>
        </div>
        <div drag-tab class="dragtab" 
            left="#text-pane" right="#image-view"></div>
    </div>
    <div class=slidingPanel id="stylePanel">
        <div close></div>
        <div ng-repeat="style in model.styles">
            <div class=holder>
                <img ng-click='model.diagram.style=style'  ng-src="style-{{style}}.png"
                  title='{{style}}'>
            </div>
        </div>
    </div>

    <div class=slidingPanel id="menuPanel">
        <div close></div>
        <ul ng-click="hidePanel('menuPanel')">
        <li ng-click="openUrl('examples.html', '_blank')">
            <img src="icon-help.png" title="Help">Help<br>Getting started
        <li ng-click="newClicked()">
            <img src="icon-new.png">New<br>Create a new diagram
        <li ng-show="!model.user.userid" ng-click="showPanel('legacyOpen')">
            <img src="icon-open.png">Open<br>Open a file
        <li ng-show="model.user.userid &amp;&amp; model.file.fileid" ng-click="save()">
            <img src="icon-save.png">Save<br>Update the saved copy (Ctrl+S)
        <li ng-show="model.user.userid" ng-click="showPanel('savePanel')">
           <img src="icon-save-as.png" title="Save as">Save As...<br>Save as a new file
        <li ng-click="showPanel('exportPanel')">
            <img src="icon-export.png" title="Export">Export<br>Export to Image or PDF
        <li ng-click="print()">
            <img src="icon-print.png" title="Print">Print<br>Print the document
        <li ng-click="openUrl('embedding.html', '_blank')">
            <img src="icon-api.png" title="Application Programming
            Interface">API<br>Integrate with other services
        <li ng-click="buyPage()" class="gold">
            <img src="icon-buy.png" title="Pricing">Buy<br>
            <span ng-show="!subscribed()">Activate premium features</span>
            <span ng-show="subscribed()">Get a subscription for the rest of
            your team.</span>
        <li ng-show="model.user.admin=='1'" 
            ng-click="openUrl('admin.html', '_blank')" 
            class="admin">
            Administrative Tools<br>Manage user passwords                
        <li ng-show='!model.gold' 
            ng-click="openUrl('status.html', '_blank')" 
            class="purchased">
            <img src="icon-status.png" title="Server
            information">Status<br>Server &amp; Licensing information
        <li
        onclick="window.open('mailto:support@websequencediagrams.com', '_blank')" ng-show="model.gold">
            <img src="icon-ask.png" title="Ask a question">Ask a
                question<br>support@websequencediagrams.com
        <li
        onclick="window.open('mailto:support@websequencediagrams.com', '_blank')" ng-show="!model.gold">
            <img src="icon-support.png" title="Email support">
                Support<br>support@websequencediagrams.com
        <li ng-show="!model.gold &amp;&amp; !LICENSE_VALID" ng-click="showPanel('productKeyPanel')">
            <img src="icon-productkey.png">Enter Product Key
        <li ng-show="model.user.userid" ng-click="signOut()">
            <img src="icon-exit.png">Sign out<br>
        </ul>
    </div>

    <div class=slidingPanel id="signinPanel"
        ng-controller="SigninController">
        <div ng-include="'signin.html'"></div>
    </div>
    <div class=slidingPanel id="createAccountPanel" ng-controller="SigninController">
        <div ng-include="'createaccount.html'"></div>
    </div>
    
    <div class=slidingPanel id="resetPasswordPanel" ng-controller="SigninController">
        New password<br>
        <input type=password class=focus ng-model="password"><br>
        <br>
        Re-enter new password<br>
        <input type=password ng-model="password2" enter-submit="resetPassword()"><br>
        <br>
        <div class=whitebutton ng-click="resetPassword()" enter-submit="">OK</div><br>
        <div ajax></div>
        <div ng-bind="errorText" class="error"></div>
    </div>

    <div class=slidingPanel id="changeAccountPanel" ng-controller="SigninController">
        <div close></div>
        <div ng-show="model.user.subscriptionid">
            Your account is paid until {{model.user.expiry | mydate}}.
            <span ng-show="hasCancelled()">You cancelled payments on {{model.user.cancelDate | mydate}}.</span><br>
            <a class=whitebutton ng-href="http://www.websequencediagrams.com/receipts.py?user={{model.user.subscriptionid}}"
            ng-show="subscriptionPrefix('ST-') || subscriptionPrefix('I-')"
            >View Receipts</a>
            <div ng-show="!hasCancelled() &amp;&amp; subscriptionPrefix('ST-')" class=whitebutton tabindex=0 ng-click="updateCreditCard()">
                Update Credit Card
            </div>

            <div ng-show="!hasCancelled() &amp;&amp; subscriptionPrefix('ST-')" class=whitebutton tabindex=0 ng-click="cancelPayments()">
                Cancel payments
            </div><br>
            <br>
        </div>
        <div ng-show="hasOauthMethod('google') &amp;&amp; model.gold">
            You can currently sign in using Google.<br>
            <div class=whitebutton tabindex=0 ng-click="removeOauth('google')">Remove</div><br>
            <br>
        </div>
        <div ng-show="!hasOauthMethod('google') &amp;&amp; model.gold">
            You do not currently sign in using Google.<br>
            <div class=whitebutton tabindex=0 id="add-google-signin">Add Google Signin</div><br>
            <br>
        </div>
        You can change your email or password.<br>
        <br>
        New email
        <input type=text class=focus ng-model="email"><br>
        <br>
        <div ng-show="model.user.hasPassword">
            Current password<br>
            <input type=password ng-model="currentPassword"><br>
            <br>
        </div>
        New Password
        <input type=password ng-model="password"><br>
        <br>
        Re-enter new password
        <input type=password ng-model="password2"><br>
        <br>
        <div class=whitebutton tabindex=0 ng-click="changeAccount()">Change</div>
        <div class=whitebutton tabindex=0 ng-click="hidePanel()">Cancel</div><br>
        <div ajax></div>
        <div ng-bind="errorText" class="error"></div>
        <hr>
        <div class=whitebutton tabindex=0 ng-click="signOut()">Sign out</div>
    </div>

    <div class=slidingPanel id="legacyOpen" ng-controller="LegacyOpenController">
        You may select a text file from your computer to open below. 
        <span ng-hide="HIDE_USER_ACCOUNTS">Sign in to access files stored in your account.</span>
        <br>
        <br>
        <input type=file id="uploadInput">
        <br>
        <br>
        <div class=whitebutton ng-click="ok()">OK</div>
        <div class=whitebutton ng-click="hidePanel()">Cancel</div>
    </div>

    <div class=slidingPanel id="exportPanel" ng-controller="ExportController">
        <div close></div>
        <div class=grow ng-click="exportFile('png')">
            <img src="icon-png.png" alt="png">
        </div>
        <div class=grow ng-click="exportFile('txt')">
            <img src="icon-txt.png" alt="txt">
        </div>
        <div class=grow style="text-align: center" ng-click="exportFile('png', true)">
            <img src="icon-png-high.png" alt="HQ PNG"><br>
            <div class="premium" ng-show="!subscribed()">PREMIUM</div>
        </div>
        <div class=grow style="text-align: center" ng-click="showPanel('pdfPanel')">
            <img src="icon-pdf.png" alt="pdf"><br>
            <div class="premium" ng-show="!subscribed()">PREMIUM</div>
        </div>
        <div class=grow style="text-align: center" ng-click="exportFile('svg')">
            <img src="icon-svg.png" alt="svg"><br>
            <div class="premium" ng-show="!subscribed()">PREMIUM</div>
        </div>
    </div>
    <div class=slidingPanel id="pdfPanel" ng-controller="ExportController">
        <div class='close' ng-click='showPanel("exportPanel")'>
            <img src='icon-back.png'>
        </div>
        Paper Size<br>
        <select ng-model="paper">
            <option selected="selected" value="none">None</option>
            <option value="letter">Letter</option>
            <option value="a4">A4</option>
            <option value="11x17">11x17</option>
            <option value="a1">A1</option>
            <option value="a2">A2</option>
            <option value="a3">A3</option>
            <option value="legal">legal</option>
        </select><br>
        <br>
        Orientation<br>
        <select ng-model="orientation" ng-disabled="paper=='none'">
            <option value="portrait">Portrait</option>
            <option value="landscape">Landscape</option>
        </select><br>
        <br>
        <div class=whitebutton ng-click="exportFile('pdf')">Export PDF</div>
        <div class=whitebutton ng-click="hidePanel()">Cancel</div><br>
        <div class="premium" ng-show="!subscribed()">PREMIUM</div>
    </div>


    <div class=slidingPanel id="productKeyPanel" ng-controller="ProductKeyController">
        Enter your product key to activate the software.<br>
        <br>
        <textarea rows=8 class="focus" ng-model="productKey"></textarea><br>
        <div class=whitebutton ng-click="ok()">Activate</div>
        <div ajax></div>
    </div>

    <div class=slidingPanel id="sharePanel" ng-controller="ShareController">
        <div close></div>
        A link to this image that updates when you save it.
        <div class="premium" ng-show="!subscribed()">PREMIUM</div>
        <input readonly select-on-click ng-model="updatingLink"><br>
        <br>
        Link to this image (non-updating)<br>
        <input readonly select-on-click ng-model="staticLink"><br>
        <br>
        Link to this page<br>
        <input readonly select-on-click ng-model="pageLink"><br>
        <br>
        <div class=whitebutton ng-click="hidePanel()">OK</div>
        <div ajax></div>
    </div>

    <div class=slidingPanel id="savePanel" ng-controller="SaveController">
        The diagram will be stored on our server, and only you and people you choose will be able to access it.<br>
        <br>
        Name of Diagram<br>
        <input type=text ng-model="filename" class="focus" select-on-click enter-submit="save()"><br>
        <br>
        Save in folder<br>
        <select ng-model="folderid">
            <option value="0">My private files</option>
            <option ng-repeat="f in folders" value="{{f.projectid}}">{{f.name}}</option>
        </select><br>
        <div class=whitebutton ng-click="save()">Save</div>
        <div class=whitebutton ng-click="hidePanel()">Cancel</div>
    </div>

    <div class=fullPanel id="filesPanel" ng-controller="FileController" ng-show="showFileBrowser">
        <div class=folderList>
            <h1>Files</h1>
            <div class=folderitem ng-class="{selected:folder==0}" ng-click="folder=0" drop-data="0" ng-drop="dropOnFolder">
                <img src="icon-folder.png"> All files
            </div>
            <div class=folderitem ng-repeat="f in folders" ng-click="$parent.folder=f.projectid;$parent.folderSettings=0"
            ng-class="{selected: folder==f.projectid}", ng-drop="dropOnFolder", drop-data="{{f.projectid}}">
                <img src="icon-folder.png"> {{f.name}}
            </div>

            <div class=folderitem style="color:white" ng-click="newFolder()">
                <img src="icon-new-folder.png"> New folder
            </div>
            <div ajax></div>
            <br>
            Find by name<br>
            <input ng-model="searchText" type=text enter-submit="folder=0"><br>
            <div class=whitebutton ng-click="folder=0">Find</div>
            <div class=whitebutton ng-click="searchText=''">Clear</div>
            <br><br>

            Create a folder to organize your work. Folders can be  shared with others so you can edit the same diagrams.
        </div>
        <div class=folderSettings ng-show="folderSettings">
            <h1>{{folderName}}</h1>
        
            <div class=whitebutton ng-click="renameFolder()">Rename folder</div>

            <div class=whitebutton ng-click="deleteFolder()">Delete folder</div>
            <br>
            <br>
            <h1>Sharing</h1>
            Send this link to someone else to invite them to edit your files in this folder.<br>
            <input readonly select-on-click ng-model="shareUrl"><br>
            <br>
            This folder is currently shared with:<br>
            <br>
            <div ng-show="sharedUsers.length == 0">Nobody</div>
            <div class="shared-user" ng-class="{selected: selectedUser==u}" ng-repeat="u in sharedUsers" ng-click="$parent.selectedUser = u">{{u.email}}</div>
            <br>
   
            <div ng-show="!model.gold" class="whitebutton" ng-click="addUser()">Add</div>
            <div ng-show="model.gold" class="whitebutton" ng-click="inviteUser()">Invite</div>
            <div class="whitebutton" ng-show="selectedUser" ng-click="removeUser(selectedUser.userid, selectedUser.email)">Remove</div>
        
        </div>
        <div class=fileList ng-show="!folderSettings">
            <h1>&nbsp;</h1>
            <div ng-show="files.length==0">
                There are no matching files here.
            </div>
            <table>
                <tr>
                    <th ng-click="sort('name')">Name</th>
                    <th ng-click="sort('date')">Date</th>
                </tr>
                <tr class=fileitem ng-click="newClicked(folder)">
                    <td colspan="2">
                        <img src="icon-new-in-folder.png"> Create a New Diagram Here
                    </td>
                </tr>
                <tr ng-repeat="f in files" class=fileitem ng-click="$parent.file=f" ng-dblclick="openFile(f)" ng-class="{selected: f.fileid==file.fileid}">
                    <td drag-data="{{f.fileid}}">{{f.name}}</td>
                    <td>{{f.mtime | ago}}</td>
                </tr>
            </table>
            <br>
            <div class="button grow" ng-show="folder" ng-click="folderSettings=1">
                <img src="icon-folder-settings.png"><br>
                Folder Settings<br>
                & Sharing
            </div>
        </div>
        <div class=filePreview ng-show="!folderSettings">
            <div ng-show="file">
                <div class=title>{{file.name}}</div>
                <br>
                <div class=imageHolder>
                    <img ng-src="{{model.root}}/files/render?fileid={{file.fileid}}&amp;width=200&amp;height=200" ng-click="openFile(file)">
                    <img class=openArrow src="icon-play.png" ng-click="openFile(file)">
                </div>
                <br>
                Modified on {{file.mtime | mydate}}<br>
                <br>
                <div class="icon grow">
                    <img src="icon-rename2.png" ng-click="rename()"><br>
                    Rename
                </div>
                <div class="icon grow" ng-click="trash()">
                    <img src="icon-trash.png"><br>
                    Delete
                </div>
                <div class="icon grow" ng-click="move()">
                    <img src="icon-move.png"><br>
                    Change folder
                </div>
                <div class="icon grow" ng-click="duplicate()">
                    <img src="icon-duplicate.png"><br>
                    Duplicate
                </div>
            </div>
        </div>
    </div>

    <div class=dialog id="PromptDialog" ng-controller="PromptController">
        <h1>{{title}}</h1>
        <div>
            {{prompt}}
        </div>
        <select ng-show="options" ng-model="selected">
            <option ng-repeat="o in options" value="{{o.value}}">{{o.name}}</option>
        </select>
        <div ng-show="text != null">
            <input ng-model="text" ng-class="{focus: text != null}" enter-submit="ok()">
        </div>
        <div class=buttons style="text-align: right">
            <div class="whitebutton focus" ng-click="ok()">{{action}}</div>
            <div class=whitebutton ng-show="cancel" ng-click="cancelClicked()">Cancel</div>
        </div>
    </div>

    <textarea style="display:none" id="initial-message">title Authentication Sequence

Alice->Bob: Authentication Request
note right of Bob: Bob thinks about it
Bob->Alice: Authentication Response
</textarea>


    <script type="text/javascript">
        var LICENSE_VALID = true;
        var HIDE_USER_ACCOUNTS = false;
    </script>

<script src="scripts4.js" charset="utf-8"></script>
<script>
    if ( !window.IsWebEdition ) {
        window.IsWebEdition = function() { return false; };
    }
    if ( IsWebEdition() ) {
        // Stripe checkout
        document.write(unescape('%3Cscript src="https://checkout.stripe.com/checkout.js"%3E%3C/script%3E'));

        // Google tracking
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

        // google signin
        document.write(unescape('%3Cscript src="https://apis.google.com/js/platform.js?onload=GoogleSigninLoaded" async defer%3E%3C/script%3E'));
    }

    if ( IsWebEdition() && "_gat" in window ) {
        var pageTracker = _gat._getTracker("UA-5751047-1");
        pageTracker._trackPageview();
    }
</script>
<script>
    try {
        if ( !("wsdok" in window) ) {
            document.getElementById("problem").style.display = "block";
            document.getElementById("splash-spinner").style.visibility = "hidden";
        }
    } catch (e) {
        Tracker.event("exception", "error=" + encodeURIComponent(""+e));
        throw e;
    }
</script>

</body>
</html>
